<div class="wrap-all">
  <div class="wrap-header">
    <mat-toolbar color="warn" class="tool-bar">

      <mat-toolbar-row class="currencyDate">
        <div *ngIf="rateDate">Офіційні курси валют {{rateDate}}</div>
      </mat-toolbar-row>

      <mat-toolbar-row class="curencyRates">

        <div class="currency">
          <div>EUR</div>
          <div>{{rateEUR}}</div>
        </div>

        <div class="currency">
          <div>USD</div>
          <div>{{rateUSD}}</div>
        </div>

      </mat-toolbar-row>

    </mat-toolbar>

  </div>
  <app-exchange [rateUSD]="rateUSD" [rateEUR]="rateEUR"></app-exchange>
</div>
